@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Sono:wght@700&display=swap');


.mainContainer{
  min-height: 100vh;
  background-color: rgb(58, 57, 57);
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: url("../../images/backprueba.jpg") ;
  background-size: cover;
}

.landing{
  position: fixed;
}

.containerProjects{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-height: 80vh ;
}
.containerTitle{
  display: flex;
  height: 100px;
  justify-content: center;
}

.title{
  color: white;
  font-size: 44px;
  font-weight: bold;
  font-family: "Sono", sans-serif;
  text-shadow: 2px 2px 4px lightseagreen;
}
.nameProject{
  text-decoration:none;
  color: lightseagreen;
  font-family:"Sono", sans-serif ;
  font-weight: 600;
  font-size: 20px;
}

.a{
  text-decoration:none ;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  flex-direction: column;
}

.span{
  color:white;
  font-family: "Sono", sans-serif;
  font-weight: bold;
  font-size: 20px;
}


@media only screen and (min-width:0px) and (max-width:420px){
  .containerProjects{
    min-width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  
  
  .containerTitle{
    display: flex;
  }

  .title{
    font-size: 30px;
  }

  .nameProject{
    text-decoration:none;
    color: lightseagreen;
    font-family:"Sono", sans-serif ;
    white-space: pre-wrap;
    font-weight: 900;
    font-size: 15px;
    width: 19ch;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    animation: infinite typing 4s steps(16), blink .5s infinite step-start alternate;
    overflow:hidden;
  }
  
  .a{
    text-decoration:none ;
  }
  
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 50%;
    flex-wrap: wrap;  
    flex-direction: row;
  }
  
  .span{
    display: none;
  }
  .project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    width: 100%;
  }
  .detalle{
    width: 30%;
    border-radius: 30px;
    height: 200px;
    box-shadow: 2px 2px 15px black;

  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  @keyframes typing {
    from{width: 0}
  } 
  @keyframes blink {
    50% {border-color: transparent}  
  }


}

@media only screen and (min-width:421px) and (max-width:768px){
  .containerProjects{
    min-width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  
  .containerTitle{
    display: flex;
  }

  .title{
    font-size: 30px;
  }

  .nameProject{
    text-decoration:none;
    color: lightseagreen;
    font-family:"Sono", sans-serif ;
    white-space: pre-wrap;
    font-weight: 900;
    font-size: 15px;
    width: 19ch;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    animation: infinite typing 4s steps(16), blink .5s infinite step-start alternate;
    overflow:hidden;
  }
  
  .a{
    text-decoration:none ;
  }
  
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 50%;
    flex-wrap: wrap;  
    flex-direction: row;
  }
  
  .span{
    display: none;
  }
  .project{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row ;
    width: 100%;
  }
  .detalle{
    align-self: center;
    width: 25%;
    border-radius: 30px;
    height: 200px;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  @keyframes typing {
    from{width: 0}
  } 
  @keyframes blink {
    50% {border-color: transparent}  
  }


}

@media only screen and (min-width:768px) and (max-width:960px){
  .containerProjects{
    min-width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .containerTitle{
    display: flex;
  }

  .nameProject{
    text-decoration:none;
    color: lightseagreen;
    font-family:"Sono", sans-serif ;
    white-space: nowrap;
    font-weight: 900;
    font-size: 30px;
    width: 16ch;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    animation: infinite typing 4s steps(16), blink .5s infinite step-start alternate;
    overflow:hidden;
  }
  
  .a{
    text-decoration:none ;
  }
  
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;  
    flex-direction: column;
  }
  
  .span{
    color:white;
    font-family: "Sono", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .project{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row ;
    width: 100%;
  }
  .detalle{
    align-self: center;
    width: 25%;
    border-radius: 30px;
    height: 300px;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  @keyframes typing {
    from{width: 0}
  } 
  @keyframes blink {
    50% {border-color: transparent}  
  }

}

@media only screen and (min-width:961px){
  
  .containerProjects{
    min-width: 90%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .containerTitle{
    display: flex;
    height: 30% ;
  }

  .nameProject{
    text-decoration:none;
    color: lightseagreen;
    font-family:"Sono", sans-serif ;
    white-space: nowrap;
    font-weight: 900;
    font-size: 30px;
    width: 16ch;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    animation: infinite typing 4s steps(16), blink .5s infinite step-start alternate;
    overflow:hidden;
  }
  
  .a{
    text-decoration:none ;
  }
  
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;  
    flex-direction: column;
  }
  
  .span{
    color:white;
    font-family: "Sono", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .project{
    display: flex;
    justify-content: space-around;
    flex-direction: row ;
    min-width: 80%;
  }
  .detalle{
    align-self: center;
    width: 25%;
    border-radius: 30px;
    height: 300px;
    box-shadow: 2px 8px 15px black;
  }
  .detalle:hover{
    
    box-shadow: 2px 2px 15px white;
  }

  .image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  @keyframes typing {
    from{width: 0}
  } 
  @keyframes blink {
    50% {border-color: transparent}  
  }
}